<div class="row">
  <div class="col-auto">
    <strong class="text-white">Main pages</strong>
    <hr/>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about/index']" [routerLinkActive]="['active']">
          Homepage
        </a>
      </li>
    </ul>
    hot to use<br/>
    changelog<br/>
    help<br/>
  </div>
  <div class="col-auto">
    <strong class="text-white">Additional informations</strong>
    <hr/>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about/project']" [routerLinkActive]="['active']">
          Project
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about/authors']" [routerLinkActive]="['active']">
          Our team
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about/algorithms']" [routerLinkActive]="['active']">
          Algorithms
        </a>
      </li>
    </ul>
    future features
  </div>
  <div class="col-auto">
    <strong class="text-white">Authorization</strong>
    <hr/>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/signin']" [routerLinkActive]="['active']">
          Sign in
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/signup']" [routerLinkActive]="['active']">
          New account
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/recover']" [routerLinkActive]="['active']">
          Recover password
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/signout']" [routerLinkActive]="['active']">
          Sign out
        </a>
      </li>
    </ul>
  </div>
  <div class="col-auto">
    <strong class="text-white">Account</strong>
    <hr/>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/dashboard']" [routerLinkActive]="['active']">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/config']" [routerLinkActive]="['active']">
          Config
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/preferences']" [routerLinkActive]="['active']">
          Preferences
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/settings']" [routerLinkActive]="['active']">
          Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="col-auto">
    <strong class="text-white">Roulette section</strong>
    <hr/>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/roulette/about']" [routerLinkActive]="['active']">
          About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/roulette/storage']" [routerLinkActive]="['active']">
          Data Storage
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/roulette/compute']" [routerLinkActive]="['active']">
          Computing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/roulette/result']" [routerLinkActive]="['active']">
          Result
        </a>
      </li>
    </ul>
  </div>
  <div class="col-auto">
    <strong class="text-white">market section</strong>
    <hr/>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/stockmarket/about']" [routerLinkActive]="['active']">
          About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/stockmarket/storage']" [routerLinkActive]="['active']">
          Data Storage
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/stockmarket/compute']" [routerLinkActive]="['active']">
          Computing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/stockmarket/result']" [routerLinkActive]="['active']">
          Result
        </a>
      </li>
    </ul>
  </div>
</div>
